@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap");
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@font-face {
    font-family: 'jost-bold';
    src: url('/fonts/Jost/static/Jost-Bold.ttf');
    font-display: swap;
}

@font-face {
    font-family: 'jost-semibold';
    src: url('/fonts/Jost/static/Jost-SemiBold.ttf');
    font-display: swap;
}

@font-face {
    font-family: 'jost-medium';
    src: url('/fonts/Jost/static/Jost-Medium.ttf');
    font-display: swap;
}

@font-face {
    font-family: 'jost-regular';
    src: url('/fonts/Jost/static/Jost-Regular.ttf');
    font-display: swap;
}

@font-face {
    font-family: 'jakarta-medium';
    src: url('/fonts/Plus_Jakarta_Sans/static/PlusJakartaSans-Medium.ttf');
    font-display: swap;
}

@font-face {
    font-family: 'jakarta-italic';
    src: url('/fonts/Plus_Jakarta_Sans/static/PlusJakartaSans-Italic.ttf');
    font-display: swap;
}

@font-face {
    font-family: 'jakarta-ultralight';
    src: url('/fonts/Plus_Jakarta_Sans/static/PlusJakartaSans-ExtraLight.ttf');
    font-display: swap;
}

@font-face {
    font-family: 'jakarta-regular';
    src: url('/fonts/Plus_Jakarta_Sans/static/PlusJakartaSans-Regular.ttf');
    font-display: swap;
}

@font-face {
    font-family: 'jakarta-bold';
    src: url('/fonts/Plus_Jakarta_Sans/static/PlusJakartaSans-Bold.ttf');
    font-display: swap;
}

@font-face {
    font-family: 'jakarta-semibold';
    src: url('/fonts/Plus_Jakarta_Sans/static/PlusJakartaSans-SemiBold.ttf');
    font-display: swap;
}
